/*----------------------------------------------------*/
/*================  MEDIA QUERIES  ===================*/
/*----------------------------------------------------*/

@media screen and (max-width: 1200px)  {

    .grid-parent {
        display: grid;
        grid-template-areas:
        'header header'
        'photo1 photo1'
        'text1 text1'
        'photo2 photo2' 
        'text2 text2'
        'photo3 photo3' 
        'photo4 photo4'
        'testi1 testi1'
        'testi2 testi2'
        'photo5 photo6'
        'photo7 photo8'
        'footer footer'; 
      }    



.grid1 { grid-area: header; 


}
.grid2 { grid-area: text1; 
    align-self: center;
    justify-self: center;
    margin: 10rem 0;
}
.grid3 { grid-area: photo1; }
.grid4 { grid-area: photo2; }
.grid5 { grid-area: text2; 
    align-self: center;
    justify-self: center;
    margin: 10rem 0;
}
.grid6 { grid-area: photo3; }
.grid7 { grid-area: photo4; }
.grid8 { grid-area: testi1; 
    background-color: #f7f7f7;
    text-align: center;
}
.grid9 { grid-area: testi2; 
    background-color: #f7f7f7;
}
.grid10 { grid-area: photo5; }
.grid11 { grid-area: photo6; }
.grid12 { grid-area: photo7; }
.grid13 { grid-area: photo8; }
.grid14 { grid-area: footer; 
    background-color:hsl(165,47.06%,73.33%);
    width: 100%;
}


/*----------------------------------------------------*/
/*==========  HEADER  =================================*/
/*----------------------------------------------------*/
header {
    background-image: url(images/desktop/image-header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 4rem 4rem 0 4rem;
  }
  
  .hero-text-box h1 {
    color: var(--white);
    text-transform: uppercase;
    text-align: center;
    font-family: "Fraunces", "Arial", sans-serif;
    font-size: 3rem;
    width:8ch;
    letter-spacing: 0.5rem;
    position: absolute;
    width: auto;
    top: 30%;
    left: 70%;
    transform: translate(-50%, -50%);
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .arrow {
    position: absolute;
    width: 3rem;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
  }
  
  .logo {
    display: inline;
    width: 15.5rem;
    cursor: pointer;
  }
  

  





/*----------------------------------------------------*/
/*==========  SECTION 2  =============================*/
/*----------------------------------------------------*/

.grid2.center,
.grid5.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid2 h2,
.grid5 h2 {
  color: var(--very_dark_desaturated);
  font-family: "Fraunces", "Arial", sans-serif;
  font-size: 4.5rem;
  font-weight: 900;
  text-align: center;
  width: 15ch;
}

.grid2 p,
.grid5 p {
  color: var(--dark_grayish);
  font-size: 2rem;
  text-align: center;
  width: 32ch;
  line-height: 3rem;
  margin-top: 4rem;
}

.grid2 a,
.grid5 a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--very_dark_desaturated);
  font-family: "Fraunces", "Arial", sans-serif;
  font-size: 2rem;
  font-weight: 900;
  cursor: pointer;
  margin-top: 4rem;
}

.grid2 a::after,
.grid5 a::after {
  display: block;
  height: 1rem;
  background-color: var(--yellow);
  content: "";
  width: 100%;
  margin: 0 auto;
  margin-top: -0.8rem;
  border-radius: 50px;
}

.grid5 a::after {
  background-color: var(--soft_red);
}

/*----------------------------------------------------*/
/*==========  TEXT top-picture-text PICTURES  ===================*/
/*----------------------------------------------------*/
.grid6 .top-picture-text,
.grid7 .top-picture-text {
  position: relative;
  top: -45%;
  left: 50%;
  transform: translateX(-50%);
  
}

.top-picture-text {
  text-align: center;
  width: 38ch;
  height: 0;
}

.top-picture-text h2 {
  font-family: "Fraunces", "Arial", sans-serif;
  margin-bottom: 3rem;
}

.top-picture-text p {
  line-height: 3rem;

}

.green-color {
  color: var(--dark_desaturated_cyan);
}
.blue-color {
  color: var(--dark_blue);
}


/*******/
#btn-menu {
  background-color: transparent;
  font-size: 3rem;
  border: none;
  color: white;
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1rem;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

#btn-menu.active {
  transform: translateX(-100px);
}

#nav {
  background-color: rgba(255, 255, 255, 0.25);
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  padding: 2rem;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

#nav.active {
  transform: translateX(0);
}

#nav ul {
  padding: 0;
  margin: 0;
}

#nav ul li {
  padding: 1rem 0;
}
#nav a {
  color: var(--dark_desaturated_cyan);
  text-decoration: none;
}


}