/*----------------------------------------------------*/
/*================  MEDIA QUERIES  ===================*/
/*----------------------------------------------------*/

@media screen and (max-width: 1200px) {
  .parent {
    display: grid;
    grid-template-areas:
      "header header"
      "photo1 photo1"
      "text1 text1"
      "photo2 photo2"
      "text2 text2"
      "photo3 photo3"
      "photo4 photo4"
      "testi1 testi1"
      "testi2 testi2"
      "photo5 photo6"
      "photo7 photo8"
      "footer footer";
  }

  .div1 {
    grid-area: header;
  }
  .div2 {
    grid-area: text1;
    align-self: center;
    justify-self: center;
    margin: 10rem 0;
  }
  .div3 {
    grid-area: photo1;
  }
  .div4 {
    grid-area: photo2;
  }
  .div5 {
    grid-area: text2;
    align-self: center;
    justify-self: center;
    margin: 10rem 0;
  }
  .div6 {
    grid-area: photo3;
  }
  .div7 {
    grid-area: photo4;
  }
  .div8 {
    grid-area: testi1;
    background-color: #f7f7f7;
    text-align: center;
  }
  .div9 {
    grid-area: testi2;
    background-color: #f7f7f7;
  }
  .div10 {
    grid-area: photo5;
  }
  .div11 {
    grid-area: photo6;
  }
  .div12 {
    grid-area: photo7;
  }
  .div13 {
    grid-area: photo8;
  }
  .div14 {
    grid-area: footer;
    background-color: hsl(165, 47.06%, 73.33%);
    width: 100%;
  }

  /*----------------------------------------------------*/
  /*==========  HEADER  =================================*/
  /*----------------------------------------------------*/
  header {
    background-image: url(images/desktop/image-header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 4rem 4rem 0 4rem;
  }

  .hero-text-box h1 {
    color: var(--white);
    text-transform: uppercase;
    text-align: center;
    font-family: "Fraunces", "Arial", sans-serif;
    font-size: 6rem;
    width: 8ch;
    letter-spacing: 0.5rem;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    z-index: 1;
  }

  .arrow {
    position: absolute;
    width: 5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .logo {
    display: inline;
    width: 15.5rem;
    cursor: pointer;
  }

  /*----------------------------------------------------*/
  /*==========  SECTION 2  =============================*/
  /*----------------------------------------------------*/

  .div2.center,
  .div5.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .div2 h2,
  .div5 h2 {
    color: var(--very_dark_desaturated);
    font-family: "Fraunces", "Arial", sans-serif;
    font-size: 4.5rem;
    font-weight: 900;
    text-align: center;
    width: 15ch;
  }

  .div2 p,
  .div5 p {
    color: var(--dark_grayish);
    font-size: 2rem;
    text-align: center;
    width: 32ch;
    line-height: 3rem;
    margin-top: 4rem;
  }

  .div2 a,
  .div5 a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--very_dark_desaturated);
    font-family: "Fraunces", "Arial", sans-serif;
    font-size: 2rem;
    font-weight: 900;
    cursor: pointer;
    margin-top: 4rem;
  }

  .div2 a::after,
  .div5 a::after {
    display: block;
    height: 1rem;
    background-color: var(--yellow);
    content: "";
    width: 100%;
    margin: 0 auto;
    margin-top: -0.8rem;
    border-radius: 50px;
  }

  .div5 a::after {
    background-color: var(--soft_red);
  }

  /*----------------------------------------------------*/
  /*==========  TEXT UNDER PICTURES  ===================*/
  /*----------------------------------------------------*/
  .div6 .under,
  .div7 .under {
    position: relative;
    top: -45%;
    left: 50%;
    transform: translateX(-50%);
  }

  .under {
    text-align: center;
    width: 38ch;
    height: 0;
  }

  .under h2 {
    font-family: "Fraunces", "Arial", sans-serif;
    margin-bottom: 3rem;
  }

  .under p {
    line-height: 3rem;
  }

  .green {
    color: var(--dark_desaturated_cyan);
  }
  .blue {
    color: var(--dark_blue);
  }


/*******/
#btn-menu {
  background-color: transparent;
  font-size: 3rem;
  border: none;
  color: white;
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1rem;
  transition: transform 0.3s ease-in-out;
  z-index: 500;
  cursor: pointer;
}

#btn-menu.active {
  transform: translateX(-100px);
}

#nav {
  background-color: rgba(255, 255, 255, 0.25);
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  padding: 2rem;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 500;
}

#nav.active {
  transform: translateX(0);
}

#nav ul {
  padding: 0;
  margin: 0;
}

#nav ul li {
  padding: 1rem 0;
}
#nav a {
  color: var(--dark_desaturated_cyan);
  text-decoration: none;
}


}
